.recruiters {
    display: block;
    -moz-column-count: 2;
    column-count: 2;
    width: 100%;
    text-align: right;
    @include avoid-break;

    &__item:nth-child(n+3) {
        text-align: left;
    }

    /* Style buttons */
    .btn {
        font-size: 2rem;
        font-weight: 400;
        display: inline-block;
        background-color: $color-icon-background;
        color: $color-icon-primary;
        border-radius: 1rem;
        padding: 0.4rem 1rem;
        cursor: pointer; /* Mouse pointer on hover */
        border-width: 0.1rem;
        width: 100%;
    
    }
    .btn a{
        color: $color-light; /* White text */
    }
    /* Darker background on mouse-over */
    .btn:hover {
        background-color: $color-secondary;
    }
}